@font-face{
  font-family: 'Gonta';
  src: url(../data/FZゴンタかな.otf);
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;        /* 黒帯用 */
  font-family: 'Gonta';
}
#gameCanvas {
  display: block;
  touch-action: none;
  background: #111;        /* キャンバス本体の背景 */
  position: absolute;      /* ウィンドウ中央に配置 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}